:root {
  --font-second-color: #ffffff;
  --main-color-bg: #1abc9c;
  --font-color: #2c3e50;
  --footer-color-bg: #3a546d;
}
img {
  max-width: 100%;
}

header {
  background-color: var(--font-color);
}

.fw-semibold {
  color: var(--font-second-color);
}

.fa-bars {
  color: #888888;
  font-size: 30px;
  cursor: pointer;
}

.portfolio,
.about,
.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.about {
  background-color: var(--main-color-bg);
}

.link-offset-2 {
  cursor: pointer;
}

.my-bg-color {
  background-color: var(--main-color-bg);
}

.my-text-color {
  color: var(--font-color);
}

.my-font-size {
  font-size: 55px;
}

.my-bg-button-color {
  background-color: var(--main-color-bg);
  border: none;
}
.my-bg-button-color:hover {
  background-color: var(--main-color-bg);
}

.my-bg-footer-color {
  background-color: var(--footer-color-bg);
}

.my-bg-copyright {
  background-color: var(--font-color);
  overflow: hidden;
}

.fa-facebook-f,
.fa-google-plus-g,
.fa-twitter,
.fa-linkedin-in {
  border-radius: 50%;
  border: 1px solid white;
  line-height: 15px;
  padding: 15px;
}
.fa-facebook-f {
  width: 50px;
  line-height: 15px;
}
